@import url("../../src/fonts/TTCommons/stylesheet.css");
$color-dark: #1E1C1F;
$color-divider: #5B524D;
$color-gold: #D3B6A5;
$color-grey: #B8B3AE;
$color-gold-light: #F0E1D9;
$color-white: #FFFFFF;

$color-gold-hover: #FAE0CF;
$color-disabled: #B6B6B6;

@font-face {
  font-family: "TT Ricordi";
  src: url("../fonts/TT\ Ricordi\ Allegria\ Trial\ Regular.ttf");
}

.banner {
  position: relative;
  font-family: 'TT Ricordi';
  min-height: 100vh;
  display: flex;
  margin-top: -70px;
  overflow: hidden;

  flex-direction: column;
}


.banner__header {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.AnimationScroll {
  transform-origin: center;
  transition: transform 2s ease;
}

.banner__header-background-icon {
  background: url('../images/logo_back2.svg') no-repeat;
  position: absolute;
  top: -9px;
  transition: transform 1s ease;
  right: 15%;
  width: 570px;
  height: 600px;
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
}

.banner__content {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 100vh;
  z-index: 5;
  position: relative;
}

.banner__content p {
  // color: #B6B6B6;
}



.banner__content_image-wrapper {
  position: relative;
  width: 60%;
  scale: 1.7;
  height: 80vh;
  background: url('../images/buildBanner.webp') no-repeat top center;
  background-size: cover;
  top: 80px;
  left: -1%;
  transform-origin: center;
  transition: transform 1s ease;
  // overflow: hidden;
  // overflow: hidden;
}

.banner__content_description p {
  transform-origin: center;
  position: absolute;
  width: 250px;
  transition: opacity 0.5s ease;
  /* Smooth fade-out transition */
  height: 72px;
  left: 201px;
  opacity: 1;
  top: 35px;
  /* desktop/btn_primery */
  font-family: 'TT Ricordi';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  // opacity: 0.8;
  text-transform: uppercase;

  /* main/white */
  color: #ccc;


}

.building-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: -60px;
  left: -9%;
  transform-origin: center;
  transition: transform 1s ease;
}


.gradient-overlay_out {
  position: absolute;
  bottom: 0px;
  left: -1px;
  z-index: 20;
  width: 100%;
  height: 80%;
  /* Adjust the height based on how much fade you want */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(30, 28, 31, 1) 100%);
  pointer-events: none;
  /* So the overlay does not interfere with interactions */
}


/* Контейнер для линий */
.container-linear {
  // position: relative;
  // position: absolute;
  // height: 800px;
  /* Занимает всю высоту экрана */
  // height: 100vh;
  overflow: hidden;
  /* Скрываем всё, что выходит за пределы */

}

/* Линии слева */
.line-left-1,
.line-left-2,
.line-left-3 {
  // left: 50px;
  width: 1px;
  background-color: #e6b7a0;
  z-index: 10;

  position: absolute;
  height: 1590px;
}

.line-left-1 {
  left: 80px;
}

.line-left-2 {
  left: 125px;
}

.line-left-3 {
  left: 165px;
}

/* Линии справа */
.line-right-1,
.line-right-2,
.line-right-3 {
  position: absolute;
  right: 0;
  height: 1590px;
  width: 1px;
  background-color: #e6b7a0;
  z-index: 10;
}

.line-right-1 {
  right: 80px;
}

.line-right-2 {
  right: 125px;
}

.line-right-3 {
  right: 165px;
}

.third_button_hover_n1 {
  position: absolute;
  top: 20px;
  left: 230px;
  width: auto;
  padding: 16px 40px;

  background: #F0E1D9;
  border: 1px solid $color-gold-light;
  backdrop-filter: blur(32px);
  font-family: 'TT Ricordi';
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 30px;
  color: #1E1C1F;
  transition: .5s ease;
  z-index: 1;
}

.third_button_hover_n1::before,
.third_button_hover_n1::after,
.third_button_hover_n1 .third_button_hover_n1-circle {
  content: '';
  position: absolute;
  right: -98px;
  top: 50%;
  border: 1px solid $color-gold-light;
  transform: translateY(-50%);
  border-radius: 50%;
}

// большой

.third_button_hover_n1::before {
  width: 77px;
  height: 77px;
  margin-top: -40px;
  // margin-top: -50px;
  border: 1px solid $color-gold-light;
}

// маленький
.third_button_hover_n1 .third_button_hover_n1-circle {
  background: #D3B6A5;
  width: 13px;
  height: 13px;
  transition: 1.30s ease;
  border: none;
  transform: translate(-246%, -55%);

}

.third_button_hover_n1:hover {
  .third_button_hover_n1-circle {
    z-index: 50;
    transform: scale(3.5) translate(-72%, -16%);
  }

  span {
    opacity: 0;
  }

  backdrop-filter: blur(0px);
  border: 1px;
  background: none;
}

// средний
.third_button_hover_n1::after {
  width: 43px;
  height: 43px;
  border: 1px solid $color-gold-light;
  position: absolute;
  margin-top: -22px;
  margin-right: 16px;
}



.tooltip_text {
  visibility: hidden;
  text-transform: none;
  transition: 1.5s ease;
  font-weight: 200;
  width: 350px;
  background-color: #F0E1D9;
  //styleName: desktop/main;
  font-size: 16px;
  line-height: 20.8px;
  text-align: left;
  color: $color-divider;
  padding: 30px;
  position: absolute;
  top: 80px;
  /* Adjust to your layout */
  left: 0;
  border: none;
  border-radius: 0px;
  font-family: "TTCommons", Arial, sans-serif;
  z-index: 10;
  opacity: 0;
  margin: -50px 0 0 -60px;
  // margin: -50px 0px 0 5px;
  // transition: opacity 2.3s ease-in-out;
}

.tooln2{
  margin: -50px 0px 0 -105px;

}
.third_button_hover_n1:hover>.tooltip_text,
.third_button_hover_n2:hover>.tooltip_text,
.third_button_hover_n3:hover>.tooltip_text {
  visibility: visible;
  transition: .7s ease;

  opacity: 1;
}

/* Add animation if you want the text to fade in and out */
.tooltip_text {
  // transition: opacity 0.3s ease-in-out;
}



////////////

.third_button_hover_n2 {
  position: absolute;
  top: 190px;
  left: 320px;
  width: auto;
  padding: 16px 40px;
  background: #F0E1D9;
  border: 1px solid $color-gold-light;
  backdrop-filter: blur(32px);
  font-family: 'TT Ricordi';
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 30px;
  color: #1E1C1F;
  transition: .5s ease;

}

.third_button_hover_n2::before,
.third_button_hover_n2::after,
.third_button_hover_n2 .third_button_hover_n2-circle {
  content: '';
  position: absolute;
  right: -98px;
  top: 50%;
  border: 1px solid $color-gold-light;
  border-radius: 50%;
}

.third_button_hover_n2::before {
  width: 77px;
  height: 77px;
  margin-top: -38px;
  border: 1px solid $color-gold-light;
}

// маленький
.third_button_hover_n2 .third_button_hover_n2-circle {
  background: #D3B6A5;
  width: 13px;
  height: 13px;
  transition: 1.30s ease;
  border: none;
  transform: translate(-246%, -55%);

}


.third_button_hover_n2 span {
  transition: 1.30s ease;
}

.third_button_hover_n2:hover {
  .third_button_hover_n2-circle {
    z-index: 50;
    transform: scale(3.5) translate(-72%, -16%);
  }

  span {
    opacity: 0;
  }

  backdrop-filter: blur(0px);
  border: 1px;
  background: none;
}



// средний
.third_button_hover_n2::after {
  width: 43px;
  height: 43px;
  border: 1px solid $color-gold-light;
  position: absolute;
  margin-top: -20px;
  margin-right: 17px;
}

////////////

.third_button_hover_n3 {
  position: absolute;
  top: 240px;
  right: 230px;
  width: auto;
  padding: 16px 40px;
  background: #F0E1D9;
  border: 1px solid $color-gold-light;
  backdrop-filter: blur(32px);
  font-family: 'TT Ricordi';
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 30px;
  color: #1E1C1F;
  transition: .5s ease;

}

.third_button_hover_n3::before,
.third_button_hover_n3::after,
.third_button_hover_n3 .third_button_hover_n3-circle {
  content: '';
  position: absolute;
  left: -98px;
  top: 50%;
  border: 1px solid $color-gold-light;
  transform: translateY(-50%);
  border-radius: 50%;

}


.third_button_hover_n3::before {
  width: 77px;
  height: 77px;
  margin: -40px 0px;
  // transform: translate(11%, -50%);
  border: 1px solid $color-gold-light;
}

// маленький
.third_button_hover_n3 .third_button_hover_n3-circle {
  background: #D3B6A5;
  transition: 1.30s ease;
  width: 13px;
  height: 13px;
  border: none;
  transform: translate(246%, -55%);
}

.third_button_hover_n3 span {
  transition: 1.30s ease;
}

.third_button_hover_n3:hover {
  .third_button_hover_n3-circle {
    z-index: 50;
    transform: scale(3.5) translate(72%, -16%);
  }

  span {
    opacity: 0;
  }

  backdrop-filter: blur(0px);
  border: 1px;
  background: none;
}

// средний
.third_button_hover_n3::after {
  width: 43px;
  height: 43px;
  margin: -22px 17px;
  border: 1px solid $color-gold-light;
  position: absolute;
}

.tool_n3 {
  margin: -50px 0 0 -60px;
}

.third_button_hover_n1::before,
.third_button_hover_n1::after,
.third_button_hover_n2::before,
.third_button_hover_n2::after,
.third_button_hover_n3::before,
.third_button_hover_n3::after {
  animation: circleExpand 3s ease-in-out infinite;
  /* Circle animation */
}



.offers__container {
  overflow: hidden;
  position: relative;
  font-family: 'TT Ricordi';
  // min-height: 100vh;
  // display: flex;
  // padding-top: 20px;
  display: flex;
  // background-color: red;
  justify-content: space-between;
  /* Выравниваем элементы по краям */
  // align-items: flex-start; /* Выравнивание по верхнему краю */
  width: 100%;
  /* Растягиваем контейнер на всю ширину */
}


#offers__content_p {
  width: 30%;
  /* adjust as needed */
  // height: 144px;
  margin-left: 14vw;
  margin-right: 2vw;
  color: $color-white;
  font-family: 'TT Ricordi';
  opacity: .8;
  display: flex;
  // position: relative;
  align-items: end;
  margin-bottom: 35px;
  text-transform: uppercase;

}

#offers__content_p2 {
  text-transform: uppercase;
  height: 400px;
  color: $color-white;
  position: relative;
  font-family: 'TT Ricordi';
  // justify-content: center;
  opacity: 1;
  padding: 30px;
  border: 1px solid $color-gold;
  width: 65%;
  
}

#offers__content_p2:nth-child(2) {
  border-left: none;
}

.block-right {
  // width: 65%;
  /* adjust as needed */
  display: flex;
  margin-right: 160px;
  /* Правый элемент прижат к правому краю */
  opacity: 1;
  padding: 30px;
  position: relative; /* Важный элемент для абсолютного позиционирования кнопки */
  // width: 48%; /* Можно настроить ширину */
  // padding: 20px;
  // background-color: #222;
  // color: #fff;
  min-height: 200px; /* Установите минимальную высоту, если требуется */
  box-sizing: border-box;
  // border: 1px solid #fff;
}

//styleName: desktop/h4;
.offers__title {
  font-family: 'TT Ricordi';
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
}

.offers__subtitle {
  font-family: 'TT Ricordi';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 20px;

}




@keyframes circleExpand {

  0%,
  100% {
    transform: scale(0.1);
    /* Start small */
    opacity: 0;
    /* Make them invisible at the start and end */
  }

  50% {
    transform: scale(1);
    /* Expand to full size */
    opacity: 1;
    /* Make them fully visible at the middle of the animation */
  }
}


