@font-face {
  font-family: "TT Ricordi";
  src: url("../fonts/TT\ Ricordi\ Allegria\ Trial\ Regular.ttf");
}


@import url("../../src/fonts/TTCommons/stylesheet.css");
$color-dark: #1E1C1F;
$color-divider: #5B524D;
$color-gold: #D3B6A5;
$color-grey: #B8B3AE;
$color-gold-light: #F0E1D9;
$color-white: #FFFFFF;

$color-gold-hover: #FAE0CF;
$color-disabled: #B6B6B6;

.footer-button {
  font-family: "TT Ricordi";
  font-size: 16px;
  color: #D6B19B;
  background: none;
  border: none;
  text-transform:uppercase;
  cursor: pointer;
  display: flex;
  position: absolute;
  max-width: 207px;
  height: 72px;
  left: 3rem;
  top: auto;
  padding-top: 20px;
  // align-items: center;
}

.footer-button .footer-button_text {
  position: relative;
  // text-align: right;
}

.footer-button .footer-button_upper {
  padding-left: 55px;
  transition: .3s ease-in-out;

  // padding-top: 10px;
  // margin-bottom: -100px; /* Расстояние между текстом и линией */
}

.footer-button .footer-button_line-wrapper {
  position: relative;
  // margin-top: -20px;
  // margin-bottom: -20px;
  margin-right: -100px;
  margin-left: 87px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Линия идет до конца текста */
  margin-top: -25px;
  
  
}

.footer-button .footer-button_line {
  // width: 180px;
  width: 100%;
  height: 1px;
  background-color: #D6B19B;
  position: absolute;
  margin-right: 30px;
  top: 50%;
}

.footer-button .footer-button_circle {
  width: 60px;
  height: 60px;
  border: 1px solid #D6B19B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;

  margin-left: 20px;
  position: relative;
}

.footer-button .footer-button_circle:before {
  content: '→';
  color: $color-gold-light;
  margin-top: 0px;
  font-size: 1.4rem;
}


.footer-button:hover {
  .footer-button .footer-button_line {
    padding-top: 80px;
    transition: .30s ease-in-out;
    background-color: $color-gold-light;

  }

  .footer-button_upper{
    color: $color-gold-light;
  }
  .footer-button_circle {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 0;

  }
}